body {
  background-color:rgb(18, 17, 66);
}

h1 {
  color:saddlebrown;
  text-align:center;
  font-family:fantasy;
  line-height:130px;
}

h2 {
  color:saddlebrown;
  text-align:center;
  font-style:italic;
  font:underline;
}

p {
  font-family:Trebuchet MS;
  text-align:center;
  font-size:125%;
  color:white;
}

ul {
  font-size: 20px;
  line-height: 30px;
  text-align:center;
  color:white;
}

li {
  display:table;
  margin:-8px auto -8px auto;
  text-align:center;
  list-style-position: inside; 
  color:white;
}

div {
  text-align:center;
}
